.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.nav-overview {
  position: fixed;
  top: 96px;
}

.section {
  scroll-margin-top: 96px;
}

/* Styles required only for the example above */

.overview-container {
  // margin-top: calc(56px + 40px); // 56px for bootstrap header height
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  height: calc(100vh -  96px) !important;
}

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
@media (max-width: calc($breakpoint-lg - 0.5px)) {
  .overview-container {
    margin-top: calc(56px + 96px); // 56px for bootstrap header height
    height: calc(100vh  - 56px - 96px) !important;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .fixed-navigation{
    height: 40px !important;
    background-color: white;
  }

  .fixed-navigation .nav {
    flex-direction: row !important; /* Aligns children horizontally, forcing it */
  }
}

@media (min-width: $breakpoint-md) {
  .spynav-link{
    font-size: 18px !important;
    padding: 5px 10px !important;
  }
}

.navigation-sidebar .fixed-navigation {
  position: fixed;
  top: 96px; // Adjust this based on your header's height
  height: calc(100vh - 96px); // Full height minus header
  overflow-y: auto; // Allows scrolling within the navigation if needed
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
}