.profile-container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px 20px 10px 0;
}

.profile-picture {

}

.about-detail-name {
  padding: 30px 20px 10px 20px;
  font-size: 24px;
}

.about-detail-description {
  padding: 0px 20px 10px 20px;
}