.about-cover{
  background-image: url('../assets/img/butterfly.webp');  
  color: white;
  padding: 20%;

  width: 100%;
  height: 0;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}