.badge-container {
  font-size: 18px;
  

  span {
    font-weight: 500;
    font-size: 16px;
    width: 125px !important;
  }
}

$breakpoint-lg: calc(992px - 1px);
@media (max-width: $breakpoint-lg) {
  .badge-container {
    padding: 0 0 7px 0 !important;

    span {
      font-size: 14px;
    }
  }
}

.achievement-title{
  font-size: 18px;
  font-weight: 500;
}

.achievement-description{
    font-size: 16px;
    font-weight: 450;
    color: #555;
    
}