.content-container {
  max-width: 1400px;
  margin-top: calc(56px + 40px); // 56px for bootstrap header height
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*scroll-bar*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0099dd;
}